body{
    background: url(https://lh3.googleusercontent.com/proxy/UUccdp7fCEqWG0SfUtfLs93sdiJBhfwh04oHfDW0mWHH1aYBqd9-2wVmX4py13zbkMm4kuG6eRgPiDg5_iZF0O0WVUETUkjyBcx1IpQuIL6BKJpMXoYMRRdqX8nzb4wSwKh5VbBR-NmfwVYss2-W6Ot8bOaN3cSso7qbfRyNtNpXMdk-);
    padding: 0;
    margin: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    

}

h1{
    font-family: fantasy;
    font-weight: 500;
    color: cornsilk;
    border: black 1px;
}

img{
    width: 400px;
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background: blueviolet;
    padding: 50px;
    border-radius: 10px;
    border: solid 3px black;
}

#spaind{
    font-size: 18px;
    margin: 50px;
}